@page
@{
    ViewData["Title"] = "Home";
}
<center>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2 class="display-4">Welcome to Loan App!</h2>
            <h2 class="display-6">Let’s make borrowing easier, faster, and stress‑free.</h2>
        </div>
    </div>
</center>